<div id="about-me">
    <h3>About me</h3>
    <div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quis, aut cumque magni non ea natus beatae nihil neque id exercitationem obcaecati amet similique dolor esse sunt, inventore molestiae hic.</p>
        <ul>
            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maxime eligendi illo eaque facilis neque officia repudiandae autem, ex cum tempore voluptatum impedit mollitia fuga? Atque esse cum id beatae.</li>
            <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae magnam optio hic itaque repellendus ullam temporibus, cupiditate sapiente officiis accusamus nesciunt ipsum tempore, ducimus quaerat? Explicabo incidunt inventore dicta placeat!</li>
            <li>Lorem ipsum dolor, sit amet consectetur adipisicing elit. A soluta nesciunt earum tempore qui at neque magni eum, repellat doloremque fugit corporis asperiores. Rem praesentium est ex, eum illum molestias?</li>
        </ul>
    </div>
</div>