<div id="about-me">
    <div class="about-me-left-side">
        <h3>About me</h3>
        <div class="about-me-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus quis, aut cumque magni non ea natus beatae nihil neque id exercitationem obcaecati amet similique dolor esse sunt, inventore molestiae hic.</p>
            <ul>
                <li><img src="../../assets/img/bulb.svg" alt="light bulb"><span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste maxime eligendi illo eaque facilis neque officia repudiandae autem, ex cum tempore voluptatum impedit mollitia fuga? Atque esse cum id beatae.</span></li>
                <li><img src="../../assets/img/puzzle.svg" alt="puzzle"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae magnam optio hic itaque repellendus ullam temporibus, cupiditate sapiente officiis accusamus nesciunt ipsum tempore, ducimus quaerat? Explicabo incidunt inventore dicta placeat!</span></li>
            </ul>
        </div>
    </div>
    <div class="about-me-right-side">
        <img class="portrait2" src="../../assets/img/portrait2.png" alt="portrait 2">
        <hr>
    </div>
</div>