@use '../../styles/mixins.scss';
@import '../../styles/colors.scss';

#above-the-fold {
    height: 100dvh;
    height: 100vh;
    width: 100%;
    position: relative;
}

.above-the-fold-main-container {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 80%;
    margin-right: 100px;
}

.above-the-fold-inner-container {
    background: transparent;
    position: absolute;
    right: 0;
    @include mixins.flex($ai: center, $dir: column);
}

.main-heading-container {
    background: transparent;
    @include mixins.flex($jc: center, $ai: center);
    gap: 35px;
}

h2 {
    font-size: 58px;
    line-height: 69.6px;
    font-weight: 400;
}

.i-am {
    transform: rotate(270deg);
    font-size: 64px;
    line-height: 76.8px;
    margin-left: -45px;
    margin-right: -45px;
    margin-bottom: -5px;
}

$arrowAnimationStart: -110px;
$arrowAnimationMiddle: 104px;
$arrowAnimationEnd: 88px;

.scroll-down-container {
    position: absolute;
    right: -72px;
    bottom: $arrowAnimationEnd;
    @include mixins.flex($jc: center, $ai: center);
    gap: 7px;
    transform: rotate(90deg);
    font-size: 23px;
    line-height: 27.6px;
    animation: 1.2s ease-in-out slideIn, 0.8s ease-in-out 1.2s 5 alternate forwards moveUpAndDown;
}

.social-link {
    transition: transform 100ms ease-out;
    &:hover {
        transform: scale(1.2);
    }
}

@keyframes slideIn {
    0% {
        bottom: $arrowAnimationStart;
    }
    100% {
        bottom: $arrowAnimationMiddle;
    }
}

@keyframes moveUpAndDown {
    0% {
        bottom: $arrowAnimationMiddle;
    }
    100% {
        bottom: $arrowAnimationEnd;
    }
}

.arrow {
    transform: rotate(270deg);
}

button {
    margin-top: 44px;
}

.socials-container {
    @include mixins.flex($ai: center);
    gap: 32px;
    position: absolute;
    left: 0;
    bottom: 16px;
}

.socials-hr {
    width: 100px;
    height: 0;
    border-color: $accentColor1;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}

.e-mail {
    color: $mainTextColor;
    text-decoration: none;
}

.portrait {
    position: absolute;
    height: 800px;
    left: -300px;
    bottom: 100px;
    z-index: -2;
}

.curve-img-container {
    position: absolute;
    height: 100vh;
    width: 100%;
}

.curve-img {
    position: absolute;
    bottom: -800px;
    z-index: -1;
    min-width: 2000px;
    width: 100%;
}

@media (max-width: 1440px) {
    h2 {
        font-size: 28px;
        line-height: 33.6px;
    }
    .main-heading-container {
        gap: 12px;
    }
    .i-am {
        font-size: 32px;
        line-height: 32px;
        margin-left: -22.5px;
        margin-right: -22.5px;
        margin-bottom: 0;
    }
    button {
        margin-top: 32px;
    }
}

@media (max-width: 1024px) {
    .above-the-fold-main-container {
        margin-right: 24px; 
        height: 239px;
    }
    .curve-img {
        bottom: -640px;
    }
    .scroll-down-container {
        display: none;
    }
    .e-mail {
        display: none;
    }
}

@media (max-width: 768px) {
    .above-the-fold-main-container {
        margin-right: 0;
        @include mixins.flex($jc: center);
    }
    .above-the-fold-inner-container {
        position: static;
    }
    .portrait {
        height: 400px;
        left: -150px;
        bottom: 200px;
    }
}