<div id="above-the-fold">
  <div class="portrait-container">       
      <svg class="portrait-shadow-svg" viewBox="0 0 859 820" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g filter="url(#filter0_f_230_447)">
        <path class="accent-color1-shadow" d="M80 356.432C140.327 225.376 178.506 179.982 190.055 173.667C190.055 173.667 227.25 43.8363 258.33 184.254C289.41 324.671 411.694 126.861 411.694 126.861L447.36 356.432L308.241 439.865L447.36 490.72L383.161 726.978L163.051 526.939L308.241 439.865L80 356.432Z"/>
        </g>
        <g filter="url(#filter1_f_230_447)">
        <path class="accent-color2-shadow" d="M416.487 381.193C243.324 333.339 490.175 93.6501 490.175 93.6501C490.175 93.6501 548.98 297.392 630.037 202.82C711.094 108.249 654.418 297.393 728.219 383.717C802.019 470.041 743.149 495.103 743.149 495.103C743.149 495.103 666.407 637.611 603.857 584.897C541.306 532.184 468.671 498.85 441.167 452.45C416.367 410.61 432.897 395.636 458.891 392.526C446.504 389.349 432.424 385.598 416.487 381.193Z"/>
        </g>
        <defs>
        <filter id="filter0_f_230_447" x="-13" y="25.9778" width="553.36" height="794" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="46.5" result="effect1_foregroundBlur_230_447"/>
        </filter>
        <filter id="filter1_f_230_447" x="261.878" y="0.650146" width="596.516" height="688.947" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="46.5" result="effect1_foregroundBlur_230_447"/>
        </filter>
        </defs>
      </svg>
      <img
      class="portrait"
      src="assets/img/portrait1.png"
      alt="Christian"
      />
  </div>
  <div class="above-the-fold-main-container">
    <div class="above-the-fold-inner-container">
      <div class="main-heading-container">
        <div class="i-am" [ngClass]="currentLanguage == 'de' ? 'small-i-am-font-size' : ''">{{ 'above-the-fold-i-am' | translate }}</div>
        <div>
          <h1>Christian Frei</h1>
          <h2 class="accent-color1-text">FRONTEND DEVELOPER</h2>
        </div>
      </div>
      <button routerLink="/" fragment="contact" class="btn btn-primary">{{ 'above-the-fold-talk' | translate }}</button>
    </div>
    <div class="socials-container">
      <hr class="socials-hr" />
      <app-social-media-links></app-social-media-links>
      <a class="e-mail" href="mailto:christian.frei.01@gmail.com"
        >christian.frei.01&#64;gmail.com</a
      >
    </div>
    <div class="scroll-down-container">
      <span class="scroll-down">{{ 'above-the-fold-scroll-down' | translate }}</span>
      <svg
        class="arrow"
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M8.99998 12.172L13.657 7.515C14.0475 7.12453 14.6805 7.12453 15.071 7.515C15.4615 7.90547 15.4614 8.53854 15.071 8.929L8.70709 15.2929C8.31657 15.6834 7.6834 15.6834 7.29288 15.2929L0.928985 8.929C0.538519 8.53853 0.538519 7.90547 0.928985 7.515C1.31945 7.12453 1.95252 7.12453 2.34299 7.515L6.99998 12.172V1C6.99998 0.447715 7.4477 0 7.99998 0C8.55227 0 8.99998 0.447715 8.99998 1V12.172Z"
          fill="white"
        />
      </svg>
    </div>
  </div>
</div>
