<div class="header-container">
  <span routerLink="/" fragment="about-me" class="first-name">Chr<span class="accent1">i</span>stia<span class="accent2">n</span></span>
  <div class="header-links">
    <a routerLink="/" fragment="about-me" routerLinkActive="active" [routerLinkActiveOptions]="routerLinkOptions">About me</a>
    <a routerLink="/" fragment="skills" routerLinkActive="active" [routerLinkActiveOptions]="routerLinkOptions">Skills</a>
    <a routerLink="/" fragment="portfolio" routerLinkActive="active" [routerLinkActiveOptions]="routerLinkOptions">Portfolio</a>
  </div>
</div>
