<div id="contact">
    <div class="contact-heading-container" appUseScrollAnimation scrollAnimationClass="slide-in-from-left">
        <hr>
        <h3>{{'contact-heading' | translate }}</h3>
    </div>
    <div class="contact-content">
        <div class="contact-text-container" appUseScrollAnimation scrollAnimationClass="slide-in-from-left">
            <h4>{{ 'contact-subheading' | translate }}</h4>
            <div class="contact-text">
                <p>{{ 'contact-first-paragraph' | translate }}</p>
                <p [innerHTML]="'contact-second-paragraph' | translate"></p>
            </div>
        </div>
        <form #contactForm="ngForm" class="contact-form" (ngSubmit)="onSubmit(contactForm)" appUseScrollAnimation scrollAnimationClass="slide-in-from-right">
            <input [(ngModel)]="formData.name" name="name" type="text" placeholder="{{ 'contact-name-placeholder' | translate }}" required>
            <input [(ngModel)]="formData.email" name="email" type="text" placeholder="{{ 'contact-email-placeholder' | translate }}" pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}" required>
            <textarea #message="ngModel" [(ngModel)]="formData.message" name="message" placeholder="{{ 'contact-message-placeholder' | translate }}" minlength="4" required></textarea>
            @if (!message.valid && message.touched && message.value.length > 0) {
                <span class="message-length-note">{{ 'contact-longer-message' | translate }}</span>
            }
            <button class="btn-primary" [disabled]="!contactForm.valid">{{ 'contact-send-message' | translate }}</button>
        </form>
    </div>
</div>