@use '../../styles/mixins.scss';
@import '../../styles/colors.scss';

#contact {
    padding-top: 146px;
}

.contact-heading-container {
    @include mixins.flex($ai: center);
    gap: 32px;
    opacity: 0;
}

.contact-content {
    @include mixins.flex($jc: space-between);
    padding: 40px 100px 181px;
}

.contact-text-container {
    @include mixins.flex($dir: column);
    gap: 24px;
    width: 474px;
    padding-right: 48px;
    opacity: 0;
}

.contact-text {
    @include mixins.flex($dir: column);
    gap: 16px;
}

input::placeholder, textarea::placeholder {
    color: white;
}

input, textarea {
    color: white;
    border: 1px solid $accentColor1;
    background-color: transparent;
    border-radius: 10px;
    padding: 15px 25px;
    font-family: 'Poppins', sans-serif;
}

input {
    height: 50px;
}

.contact-form {
    width: 617px;
    @include mixins.flex($dir: column);
    gap: 32px;
    opacity: 0;
}

button {
    align-self: center;
}

button:disabled {
    background-color: hsla(0, 0%, 71%, 1);
    &:hover {
        padding: 15px 30px;
    }
}

hr {
    width: 37.15vw;
    max-width: 714px;
    border-color: $accentColor1;
}

$validInputColor: hsla(95, 80%, 51%, 1);
$invalidInputColor: hsla(349, 80%, 51%, 1);

.validation-message {
    margin-top: -16px;
    color: $invalidInputColor;
}

input, textarea {
    width: 100%;
}

textarea {
    resize: vertical;
    min-height: 202px;
}

.input-container {
    position: relative;
    display: flex;
}

.invalid-input {
    border: 1px solid $invalidInputColor;
}

.valid-input {
    border: 1px solid $validInputColor;
}

input[type='checkbox'] {
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

.checkbox-svg {
    width: 18px;
    height: 18px;
    path {
        fill: $validInputColor;
    }
}

.contact-privacy-policy-message-container {
    display: grid;
    grid-template-columns: 26px auto;
    position: relative;
}

.arrow-svg-btn {
    position: absolute;
    color: unset;
    background-color: unset;
    border: unset;
    cursor: pointer;
    right: 100px;
    z-index: 1;
    margin-top: -90px;
    path {
        fill: white;
    }
    rect {
        stroke: white;
    }
    &:hover {
        path {
            fill: $accentColor2;
        }
        rect {
            stroke: $accentColor2;
        }
    }
}

@media (max-width: 1200px) {
    .contact-content {
        @include mixins.flex($dir: column);
        gap: 24px;
    }
}

@media (max-width: 1024px) {
    .contact-form {
        width: 100%;
        max-width: 617px;
    }
    .contact-text-container {
        width: unset;
        max-width: 617px;
    }
    .contact-content {
        @include mixins.flex($ai: center, $dir: column);
        padding: 32px 4.72vw 100px;
    }
    .arrow-svg-btn {
        right: calc(4.72vw + 32px);
    }
}

@media (max-width: 768px) {
    .contact-heading-container {
        gap: 16px;
    }
    .arrow-svg-btn {
        right: 24px;
    }
}

@import '../../styles/animations.scss';