// $accentColor1: hsla(266, 100%, 64%, 1);
$accentColor1: hsla(241, 100%, 64%, 1);
$backgroundColor: hsla(220, 41%, 13%, 1);
$mainTextColor: hsla(0, 0%, 100%, 1);
// $accentColor2: hsla(95, 80%, 51%, 1);
$accentColor2: hsla(191, 100%, 45%, 1);


.accent-color1-text {
    color: $accentColor1;
}

.accent-color2-text {
    color: $accentColor2;
}