@import '../../../styles/colors.scss';

.i {  
    position: relative;
    z-index: 0;
  }

.i:before {
    z-index: -1;
    content: 'i';
    position: absolute;
    left: 0;
    color: $accentColor1;
}