@use '../../styles/mixins.scss';
@import '../../styles/colors.scss';

p {
    margin: 0;
}

#skills {
    padding-top: 180px;
    padding-left: 136px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto 1fr;
    grid-template-areas:
    "items text-top"
    "items text-bottom";
    row-gap: 24px;
}

.skill-items-container {
    grid-area: items;
    @include mixins.flex();
    flex-wrap: wrap;
    gap: 88px;
    width: 664px;
}

.skill-item {
    @include mixins.flex($jc: center, $ai: center, $dir: column);
    gap: 10px;
    width: 88px;
    padding: 12px 0 0 0;
    > svg {
        fill: white;
        height: 60px;
    }
}

.skills-text-top-container {
    grid-area: text-top;
    @include mixins.flex($ai: flex-end, $dir: column);
    text-align: right;
    gap: 24px;
}

.skills-text-top-container p {
    padding-right: 133px;
}

.skills-text-bottom-container {
    padding-right: 133px;
    grid-area: text-bottom;
    @include mixins.flex($ai: flex-end, $dir: column);
    text-align: right;
    gap: 24px;
}

strong {
    font-size: 32px;
    line-height: 38.4px;
}

.looking-for-another-skill {
    @include mixins.flex($ai: flex-end, $dir: column);
    gap: 16px;
}

.another-skill {
    color: $accentColor1;
}

@media (max-width: 768px) {
    .skill-item {
        gap: 10px;
        > svg {
            height: 48px;
        }
    }
}

.learning {
    position: relative;
}

#learning-svg {
    position: absolute;
}

.learning-tooltip {
    text-align: center;
    background-color: white;
    color: black;
    border: unset;
    border-radius: 12px;
    padding: 16px 24px;
    min-width: 200px;
    position: absolute;
    top: -80px;
    left: 80px;
    opacity: 0;
    transition: opacity 250ms;
}

.node {
    color: hsla(78, 100%, 40%, 1);
}

.learning:hover {
    .accent-color1-text{
        color: white;
    }
    .learning-icon-container {
        #learning-svg {
            fill: white;
        }
        #learning-arrows {
            animation: rotateArrows 2s infinite linear;
            fill: white;
        }
    }
    .learning-tooltip {
        opacity: 1;
    }
}

@keyframes rotateArrows {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-360deg);
    }
}

.skills-heading-container {
    @include mixins.flex($ai: center);
    gap: 32px;
}

.skills-hr {
    width: 68px;
    color: $accentColor1;
}

#learning-svg, #learning-arrows {
    fill: $accentColor1;
    transition: all 125ms;
}

@media (max-width: 1440px) {
    #skills {
        padding-left: 100px;
    }
    .skills-text-top-container p, .skills-text-bottom-container {
        padding-right: 100px;
    }
    .skills-text-bottom-container {
        padding-right: 100px;
    }
}

@media (max-width: 1200px) {
    #skills {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto;
        grid-template-areas:
        "text-top"
        "items"
        "text-bottom";
    }
}