@use '../../styles/mixins.scss';
@import '../../styles/colors.scss';

#portfolio {
    padding-top: 180px;
    @include mixins.flex($ai: flex-end, $dir: column);
    margin-bottom: 146px;
}

.portfolio-top-container {
    @include mixins.flex($dir: column);
    gap: 40px;
}

.portfolio-heading-container {
    @include mixins.flex($jc: flex-end, $ai: center);
    gap: 32px;
}

hr {
    border-color: $accentColor1;
}

.portfolio-hr-before {
    width: 100px;
}

.portfolio-hr-after {
    width: 35.2vw;
    max-width: 676px;
}

.projects {
    @include mixins.flex($jc: center, $dir: column);
}

@media (max-width: 1200px) {
    .projects {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    #portfolio {
        padding-top: 128px;
    }
}

@media (max-width: 767px) {
    .portfolio-top-text {
        padding: 0 24px;
        text-align: center;
    }
    .portfolio-hr-before {
        width: 24px;
    }
    .portfolio-hr-after {
        width: 22.5vw;
    }
}