<div id="portfolio">
  <div class="portfolio-top-container" appUseScrollAnimation scrollAnimationClass="slide-in-from-right">
    <div class="portfolio-heading-container">
      <hr class="portfolio-hr-before" />
      <h3>Portfolio</h3>
      <hr class="portfolio-hr-after" />
    </div>
    <p class="portfolio-top-text">
      {{ 'portfolio-subtitle' | translate }}
    </p>
  </div>
  <div class="projects">
    <app-project
    title="Join"
    stack="JavaScript | HTML | CSS | Firebase"
    description="{{ 'portfolio-join-description' | translate }}"
    imagePath="assets/img/join.webp"
    alt="Join project image"
    liveTestUrl="https://join.christian-frei.dev"
    gitHubUrl="https://github.com/ChristianFreiDev/join"
  ></app-project>
    <app-project
      title="Sharkie"
      stack="JavaScript | HTML | CSS"
      description="{{ 'portfolio-sharkie-description' | translate }}"
      imagePath="assets/img/sharkie.webp"
      alt="Sharkie project image"
      direction="row-reverse"
      liveTestUrl="https://sharkie.christian-frei.dev"
      gitHubUrl="https://github.com/ChristianFreiDev/sharkie"
    ></app-project>
    <app-project
    title="DABubble"
    stack="Angular | TypeScript | HTML | SCSS | Firebase"
    description="{{ 'portfolio-dabubble-description' | translate }}"
    imagePath="assets/img/dabubble.webp"
    alt="DABubble project image"
    liveTestUrl="https://dabubble.christian-frei.dev"
    gitHubUrl="https://github.com/ChristianFreiDev/DABubble"
  ></app-project>
  </div>
</div>
