@use '../../styles/mixins.scss';

#home {
    background-image: url('../../assets/img/vector-shape-hero-page.png');
    background-repeat: no-repeat;
    background-position: top calc(100vh - 550px) left;
    background-size: calc(max(100%, 1440px)) 1079px;
}

section, header, footer {
    margin: auto;
    max-width: 1920px;
}

section {
    min-height: 664px;
}

@media (max-width: 768px) {
    #home {
        background-position: top calc(100vh - 650px) left;
    }
}