@use '../../../styles/mixins.scss';
@import '../../../styles/colors.scss';

.project {
    opacity: 0;
    @include mixins.flex($ai: center);
    gap: 35px;
    padding: 0 182px;
}

.project-content {
    @include mixins.flex($dir: column);
    gap: 35px;
}

.project-content-text {
    @include mixins.flex($dir: column);
    gap: 15px;
}

h4 {
    color: $accentColor1;
}

.stack {
    color: $accentColor2;
}

.description {
    max-width: 684px;
}

.left {
    @include mixins.flex($jc: space-between, $ai: center, $dir: row);
    text-align: left;
}

.right {
    @include mixins.flex($jc: space-between, $ai: center, $dir: row-reverse);
    text-align: right;
}

.project-btn-container {
    @include mixins.flex();
    gap: 86px;
}

.flex-end {
    @include mixins.flex($jc: flex-end);
}

@media (max-width: 1440px) {
    .project {
        padding: 0 136px;
    }
    .description {
        max-width: 513px;
    }
}

@media (max-width: 1200px) {
    .project {
        @include mixins.flex($dir: column);
    }
    .project-content {
        @include mixins.flex($ai: center, $dir: column);
    }
    .left, .right {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .project {
        padding: 0 24px;
    }
    .project-btn-container {
        gap: 50px;
    }
}

@media (max-width: 360px) {
    .project-btn-container {
        flex-direction: column;
        gap: 16px;
    }
}

@import '../../../styles/animations.scss';