<div class="project" [ngClass]="direction == 'row' ? 'left' : 'right'" appUseScrollAnimation [scrollAnimationClass]="direction == 'row' ? 'slide-in-from-left' : 'slide-in-from-right'">
    <img [src]="imagePath" [alt]="alt">
    <div class="project-content">
        <div class="project-content-text">
            <h4>{{ title }}</h4>
            <p class="stack">{{ stack }}</p>
            <p class="description">{{ description }}</p>
        </div>
        <div class="project-btn-container" [ngClass]="direction == 'row' ? 'flex-start' : 'flex-end'">
            <button class="btn-secondary">{{ 'project-live-test' | translate }}</button>
            <button class="btn-tertiary">GitHub</button>
        </div>
    </div>
</div>